:root {
    --text-fusion: darkorchid;
}

:root[data-bs-theme="dark"] {
    --text-fusion: #d788ff;
}

body {
    padding: 30px 0;
}

.ed-choices-xyz,
.ed-choices-fusion,
.ed-choices-slots {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px 14px;
    margin-bottom: 20px;
}

.ed-choices-xyz .btn-group,
.ed-choices-fusion .btn-group {
    overflow-x: auto;
}

@media screen and (min-width: 992px) {

    .ed-choices-xyz,
    .ed-choices-fusion,
    .ed-choices-slots {
        grid-template-columns: 130px auto max-content;
    }
}

.lookup-table {
    text-align: center;
}

.lookup-table .vertical-header {
    writing-mode: sideways-lr;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    width: 58px;
}

.lookup-table td.cell-with-solution {
    background-color: rgb(91 255 145 / 12%);
}

/* To be removed upon initialization */
.no-transition-until-loaded *,
.no-transition-until-loaded *::before,
.no-transition-until-loaded *::after {
    transition: none !important;
}

.color-mode-toggle {
    height: fit-content;
    min-width: fit-content;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    gap: 0.75rem;
    align-items: center;
    padding: 0.5rem;
    background-color: #444;
    border-radius: 2rem;
    user-select: none;
    cursor: pointer;
    transition: translate 0.3s, background-color 0.8s;
}

.color-mode-toggle::before {
    position: absolute;
    top: 4px;
    left: 4px;
    content: "";
    height: calc(100% - 8px);
    aspect-ratio: 1;
    border-radius: 50%;
    transition: translate 0.3s, background-color 0.8s;
    background: #fff;
}

.color-mode-toggle input {
    position: absolute;
    appearance: none;
}

.color-mode-toggle span {
    position: relative;
    font-size: 12px;
    transition: translate 0.3s ease 0.2s;
}

.color-mode-toggle span:nth-of-type(1) {
    translate: 0 150%;
}

.color-mode-toggle span:nth-of-type(2) {
    translate: 0 0%;
}

.color-mode-toggle:has(input:checked) {
    background-color: #ddd;
}

.color-mode-toggle:has(input:checked) span:nth-of-type(1) {
    translate: 0 0%;
}

.color-mode-toggle:has(input:checked) span:nth-of-type(2) {
    translate: 0 -150%;
}

.color-mode-toggle:has(input:checked)::before {
    translate: 109% 0;
    background-color: #444;
}